<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
</head>
<body>
<div class="applications" th:fragment="applications" th:object="${listFormObject}">
        <div th:if="${applicationsObject.empty && searched}" th:text="#{list.noApp}"></div>
        <div th:each="a, iter : ${applicationsObject}">
            <span th:if="${min <= iter.index && max > iter.index}" class="userApplication" th:text="${iter.index+1 + ': ' + a.firstName + ' ' + a.lastName}"></span>
            <p>
        </div>
        <div th:if="${interval <= min}">
            <form th:action="@{/list/prev}" action="#" class="form" method="post">
                <input id="prevButton" type="submit" th:value="#{list.prev}">
                <input type="hidden" th:value="${applicationsObject}" name="prev">
            </form>
        </div>
        <div th:if="${applicationsObject.size > max}">
            <form th:action="@{/list/next}" action="#" class="form" method="post">
                <input id="nextButton" type="submit" th:value="#{list.next}">
                <input type="hidden" th:value="${applicationsObject}" name="next">
            </form>
        </div>
    </div>
<div class="nosearch" th:fragment="nosearch"></div>
</body>
</html>