<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:inline="javascript">
        let validateDates = () => {
            if(!navigator.userAgent.includes("Safari")) {
                let from = document.forms.availabilityForm.from.valueAsDate;
                let to = document.forms.availabilityForm.to.valueAsDate;
                let now = new Date().setHours(0,0,0,0);
                if((from || to) < now) {
                    alert("Dates in the past is not valid.");
                    return false;
                }
                if(from > to) {
                    alert("From date can not be after to date. When you close this dialog, the inputs will be switched.");
                    document.forms.availabilityForm.from.valueAsDate = to;
                    document.forms.availabilityForm.to.valueAsDate = from;
                    return false;
                }
                if((from || to) == null) {
                    alert("Dates must be supplied.");
                    return false;
                }
                if((from || to) < 0){
                    alert("A date can not have a negative value.");
                    return false;
                }
            }
        }
    </script>
</head>
<body>


<div class="application-form" th:fragment="availabilityForm">
    <div class="title">Apply for a job</div>

    <div class="subtitle">What's your availability?</div>
    <form th:action="@{/apply/availability}" name="availabilityForm" onsubmit="validateDates()" action="#" class="form" method="post" th:object="${availabilityFormObject}">
        <label for="from">From:</label>
        <input type="date" name="from" id="from" th:field="*{from}" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" required>
        <label for="to">To:</label>
        <input type="date" name="to" id="to" th:field="*{to}" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" required>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <form th:action="@{/apply/review}" th:if="${user.availability != null}" action="#" class="form" method="post">
        <input type="submit" value="Review your application">
    </form>
</div>

</body>
</html>