<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="application-form" th:fragment="availabilityForm">
    <script th:replace="../formValidation/availabilityFormValidation :: validator"></script>
    <div class="title" th:text="#{apply.title}"></div>
    <div class="subtitle" th:text="#{apply.subtitle.availability}"></div>
    <form th:action="@{/apply/availability}" name="availabilityForm" id="availabilityForm" action="#" class="form" method="post" th:object="${availabilityFormObject}">
        <label for="from" th:text="#{label.from} + ':'"></label>
        <input type="date" name="from" id="from" th:field="*{from}" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" required>
        <label for="to" th:text="#{label.to} + ':'"></label>
        <input type="date" name="to" id="to" th:field="*{to}" placeholder="yyyy-mm-dd" pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))" required>
        <input type="hidden" th:value="${user.email}" th:name="user">
        <p>
            <input type="submit" id="availabilityFormSubmit" th:value="#{submit}">
        </p>
    </form>
    <form th:action="@{/apply/review}" action="#" class="form" method="post">
        <input type="submit" id="applicationFormReviewBtn" th:value="#{apply.review.submit}">
    </form>
</div>
</body>
</html>