<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for a Position</title>
</head>
<body>

<div class="application-form" th:fragment="competenceForm">
    <script th:replace="../formValidation/competenceFormValidation :: validator"></script>
    <div class="title" th:text="#{apply.title}"></div>
    <div class="subtitle" th:text="#{apply.subtitle.skills}"></div>
    <form th:action="@{/apply/expertise}" name="competenceForm" action="#" class="form" method="post" th:object="${competenceFormObject}" id="competenceForm">
        <label for="competence" th:text="#{apply.label.competence}"></label>
        <select name="competence" id="competence" th:field="*{name}" required>
            <option th:each="competence : ${availableCompetences}" th:value="${competence}" th:text="${competence}"></option>
        </select>
        <label for="competenceYears" th:text="#{apply.label.years}"></label>
        <input id="competenceYears" name="competenceYears" type="number" step="any" th:field="*{years}">
        <p>
            <div th:if="${last}" th:text="#{apply.message.last}"></div>
            <input type="submit" th:value="#{add}" th:unless="${last}">
    </form>
    <form th:action="@{/apply/availability}" action="#" class="form" method="post">
        <input type="submit" th:value="#{submit}">
    </form>
</div>
</body>
</html>