<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<div class="create-account-outer" th:fragment="create_account">
    <div class="title">Create a new account</div>
    <form class="form" method="post" action="/create">
        <label for="firstname">First Name</label>
        <input id="firstname" type="text">
        <label for="surname" type="text">Surname</label>
        <input id="surname" type="text">
        <label for="email">Email</label>
        <input id="email" type="text">
        <label for="dob">Date of Birth</label>
        <input id="dob" type="date">
        <label for="username">Username (we should use email...)</label>
        <input id="username" type="text">
        <label for="password">Password</label>
        <input id="password" type="password">
        <p>
            <input type="submit" value="Create account">
    </form>
</div>

<div class="title" th:fragment="create_account_logged_in">You are already logged in.</div>

</body>
</html>