<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for a Position</title>
</head>
<body>

<div class="application-form" th:fragment="expertiseForm">
    <div class="title">Apply for a job</div>

    <div class="subtitle">What's your skills?</div>
    <form th:action="@{/apply/expertise}" action="#" class="form" method="post" th:object="${competenceFormObject}" id="competenceForm">
        <label for="competence">Expertise</label>
        <select name="competence" id="competence" th:field="*{name}" required>
            <option th:each="competence : ${availableExpertises}" th:value="${competence.name}" th:text="${competence.name}"></option>
        </select>
        <label for="competence-years">Years of experience</label>
        <input id="competence-years" type="number" step="any" th:field="*{years}">
        <p>
            <div th:if="${last}" th:text="'All expertises already added. Please submit your form.'"></div>
            <input type="submit" value="Add" th:unless="${last}">
    </form>
    <form th:action="@{/apply/availability}" action="#" class="form" method="post">
        <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>