<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{title}"></title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-content">
        <div>
            <span th:text="#{Legal} + ' | ' + #{About} + ' | ' + #{Contact}"></span><span sec:authorize="isFullyAuthenticated()" th:text="' | ' + #{Your.Account}"></span>
        </div>
        <div sec:authorize="isAnonymous()">Placeholder</div>
        <form sec:authorize="isFullyAuthenticated()" id="logout-form" method="POST" th:action="@{/logout}">
            <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
        </form>
    </div>
</footer>
</body>
</html>