<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="footer-outer" th:fragment="footer">
    <div>Legal | About | Contact</div>
    <div>Placeholder</div>
</div>

<div class="footer-outer" th:fragment="footer_logged_in">
    <div>Legal | About | Contact | Your Account</div>
    <form id="logout-form" method="POST" th:action="@{/logout}">
        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
    </form>
</div>

</body>
</html>