<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
</head>
<body>
<header th:fragment="header">
    <div class="header-content">
        <div class="header-logo" th:text="#{title}"></div>
        <div sec:authorize="isFullyAuthenticated()">
            <a th:href="@{/apply}" th:text="#{header.apply}"></a>
            <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/list}" th:text="#{header.list}"></a>
        </div>
    </div>
</header>
</body>
</html>