<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for a Position</title>
</head>
<body>

<div th:fragment="restoreForm">
    <div th:if="${success}" class="alert alert-success" th:text="#{restore.success}"></div>
    <div th:if="${error != null}" class="alert alert-error" th:text="#{${error}}"></div>
    <form th:action="@{/restore}" name="restoreForm" action="#" method="post" th:object="${restoreFormObject}" id="restoreForm">
        <input name="email" type="text" th:field="*{email}">
        <input type="submit" th:value="#{submit}">
    </form>
</div>
</body>
</html>