<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for a Position</title>
</head>
<body>

<div class="create-account-outer" th:fragment="reviewApplication">
    <div th:if="${form == 'review'}">
        <div class="title" th:text="#{apply.title}"></div>
        <div class="subtitle" th:text="#{apply.subtitle.review}"></div>
        <p>
            <form th:if="${form == 'review'}" th:action="@{/apply/submit}" name="submitForm" action="#" class="form" method="post">
                <input type="submit" th:value="#{submit}">
            </form>
    </div>

    <div class="apply-text">
        <span th:text="#{Name} + ':'"></span><div th:text="${user.getFirstName} + ' ' + ${user.getLastName}"></div>
        <span th:text="#{Mail} + ':'"></span><div th:text="${user.getEmail}"></div>
        <p>
            <span th:text="#{Competences} + ':'"></span>
            <div th:each="comp : ${user.getCompetences}">
        <div th:text="${comp.getCompetence.getName(user.getLocale)}"></div>
        <div th:text="${comp.getYearsOfExperience}"></div>
    </div>
        <p>
        <div>
            <span th:text="#{Availability} + ':'"></span>
            <div th:each="availability : ${user.getAvailabilityList}">
                <div class="userAvailabilities" th:text="${availability.getFromDate} + ' ' + #{to} + ' ' + ${availability.getToDate}"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>