<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Application</title>
    <link th:href="@{../css/global.css}" rel="stylesheet">
    <link th:href="@{../css/home.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
    <link th:href="@{../css/header.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <div th:replace="../fragments/header"></div>
    </div>

    <div class="content">
        <div class="title" th:text="Placeholder"></div>

        <div class="home-middle">
            YOU ARE AN ADMIN!!!!
        </div>
    </div>

    <div class="footer">
        <div th:replace="../fragments/footer :: ${loggedIn} ? footer_logged_in : footer"></div>
    </div>
</div>
</body>
</html>