<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{../fragments/layout}" lang="en">
<head>
    <title th:text="#{title}"></title>
    <link th:href="@{../css/application.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <script th:inline="javascript">
        let errorOverlayOn = (text) => {
            document.getElementById("error-overlay").style.display = "block";
            document.getElementById("error-text").innerHTML = text;
        }
        let errorOverlayOff = () => {
            document.getElementById("error-overlay").style.display = "none";
        }
    </script>
    <article>
        <div id="error-overlay" onclick="errorOverlayOff()">
            <div id="error-text"></div>
        </div>
        <div th:switch="${form}">
            <div th:case="${'competence'}" >
                <div th:replace="../fragments/competenceForm :: competenceForm"></div>
            </div>
            <div th:case="${'availability'}">
                <div th:replace="../fragments/availabilityForm :: availabilityForm"></div>
            </div>
            <div th:case="${'review'}">
                <div th:replace="../fragments/reviewApplication :: reviewApplication"></div>
            </div>
            <div th:case="${'submitted'}">
                <div class="subtitle" th:text="#{apply.submitted}"></div>
            </div>
        </div>
        <div class="application-review" th:unless="${form == 'review' || form == 'submitted'}">
            <div th:replace="../fragments/reviewApplication :: reviewApplication"></div>
        </div>
    </article>
</main>
</body>
</html>