<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Application</title>
    <link th:href="@{../css/global.css}" rel="stylesheet">
    <link th:href="@{../css/home.css}" rel="stylesheet">
    <link th:href="@{../css/footer.css}" rel="stylesheet">
    <link th:href="@{../css/header.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <div th:replace="../fragments/header :: header"></div>
    </div>

    <div class="content">
        <div class="home-title" th:text="Placeholder + ' ' + ${msg}"></div>

        <div class="home-middle">
            Middle section placeholder text.
            <form method="post">
                <input type="submit" value="tjabba">
            </form>
        </div>
    </div>

    <div class="footer">
        <div th:replace="../fragments/footer :: ${loggedIn} ? footer-logged-in : footer"></div>
    </div>
</div>
</body>
</html>