<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{../fragments/layout}" lang="en">
<head>
    <title th:text="#{title}"></title>
    <link th:href="@{../css/home.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <div>
        <div class="title" th:text="#{home.greeting}"></div>
        <div class="home-middle" th:text="#{user.message}">
        </div>
    </div>
</main>
</body>
</html>