<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{../fragments/layout}">
<head>
    <title th:text="#{title}"></title>
    <link th:href="@{../css/error.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <div th:replace="../fragments/errorOverlay :: errorOverlayJs"></div>
    <div th:replace="../fragments/errorOverlay :: errorOverlayTh"></div>
    <div class="listFormView">
<!--        <script th:replace="../formValidation/listFormValidation :: validator"></script>-->
        <div th:replace="../fragments/listForm :: listForm"></div>
        <div th:replace="../fragments/applications :: ${searched} ? applications : nosearch "></div>
    </div>
</main>
</body>
</html>