<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Application</title>
</head>
<body>
    <div class="title">Enter Parameters of Interest</div>
    <p>
    <form  th:action="@{/list/applications}" action="#" class="form" method="post" th:object="${listFormObject}"  id="parameterForm" >
            <label for="period">Period</label>
            <input id="period" type="text" th:field="*{period}">
            <div>Date of Application</div>
            <input id="date" type="text" th:field="*{date}">
            <div>Competence</div>
            <input id="competence" type="text" th:field="*{competence}">
            <div>Name</div>
            <input id="name" type="text" th:field="*{name}">
        <p>
            <input id="listbutton" type="submit" value="List Applications">

    </form>
</body>
</html>