<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recruitment Application</title>
</head>
<body>
    <div class="title" th:text="${competence}"></div>
    <div class="title">Enter Parameters of Interest</div>
    <p>
    <form  th:action="@{/list/parameters}" class="form" method="post" th:object="${parameters}"  id="parameterForm" >
            <div>Time Period</div>
            <input id="period" type="text" />
            <div>Date of Application</div>
            <input id="date" type="text"/>
            <div>Competence</div>
            <input id="competence" type="text"/>
            <div>Name</div>
            <input id="name" type="text" />
        <p>
            <input id="listbutton" type="submit" value="List Applications"/>

    </form>
</body>
</html>