<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{../css/login.css}" rel="stylesheet">
    <title>Green Garden Recruitment Portal</title>
</head>
<body>
    <div class="login-form" th:fragment="content">
        <form name="f" th:action="@{/login}" method="post">
            <fieldset>
                <legend th:text="#{login.login}">Please login</legend>
                <div th:if="${param.error}" class="alert alert-error" th:text="#{login.invalid}"></div>
                <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.loggedOut}"></div>
                <div class="login-form-input-container">
                <label for="username" th:text="#{label.username}"></label>
                <input class="login-form-input" type="text" id="username" name="username"/>
                <label for="password" th:text="#{label.password}"></label>
                <input class="login-form-input" type="password" id="password" name="password"/>
                    <div th:replace="../fragments/formCSRFToken"></div>
                    <div class="form-actions">
                    <button type="submit" class="btn" th:text="#{login.btn}"></button>
                </div>
                </div>
        </fieldset>
    </form>
</div>
</body>
</html>