<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{../fragments/layout}" lang="en">
<head>
    <title th:text="#{title}"></title>
    <link th:href="@{../css/home.css}" rel="stylesheet">
    <link th:href="@{../css/global.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <div class="title" th:text="#{restore.title}"></div>
    <div class ="centered-content">
        <div th:replace="../fragments/restoreForm :: restoreForm"></div>
    </div>
</main>
</body>
</html>