body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
    overflow: auto;
    background-color: lightcyan;
    display: grid;
    grid-template-rows: auto 2fr;
}

footer {
    grid-row: 3;
    background-color: darkcyan;
}

header {
    grid-row: 1;
    background-color: darkcyan;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 1em;
}

.subtitle {
    font-size: large;
    padding: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

#error-overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#error-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xxx-large;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.header-content {
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 1em;
}

.header-logo {
    font-size: x-large;
    font-family: "DejaVu Serif Condensed", serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 1em;
}

.centered-content {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    padding: 1em;
}

.margin-bottom-small {
    margin-bottom: 1em;
}