body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    grid-row: 1;
    background-color: darkcyan;
}

.content {
    grid-row: 2;
    overflow: auto;
    background-color: lightcyan;
}

.footer {
    grid-row: 3;
    background-color: darkcyan;
}

.title {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
}

.apply-text {
    padding: 1em;
}