.login-form {
    display: flex;
    justify-content: space-around;
    min-width: 200px;
    padding: 1em;
}

.login-form-input {
    max-width: 20em;
    margin-bottom: 1em;
}

.login-form-input-container {
    margin-right: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}